In [106]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [107]:
data = pd.read_csv('C:/Users/Toshiba/Documents/GitHub/MIE_2.02_GeoInfo_WS2020/data/generated/DWD/hourly/precipitation/historical/prec_ts_appended_4.csv',sep=";")

In [108]:
import datetime as dt
data['day1'] = pd.to_datetime(data['mess_datum'])
day = data['day1'].dt.date

In [109]:
data.tail()

,mess_datum,station_id,r1,longitude,latitude,day1
244838,2017-08-16 20:00:00,15000,0.0,6.0244,50.7983,2017-08-16 20:00:00
244839,2017-08-16 21:00:00,15000,0.0,6.0244,50.7983,2017-08-16 21:00:00
244840,2017-08-16 22:00:00,15000,0.0,6.0244,50.7983,2017-08-16 22:00:00
244841,2017-08-16 23:00:00,15000,0.0,6.0244,50.7983,2017-08-16 23:00:00
244842,2017-08-17 00:00:00,15000,0.0,6.0244,50.7983,2017-08-17 00:00:00

In [110]:
data['mess_datum']=pd.to_datetime(data.mess_datum, format='%Y/%m/%d %H:%M:%S')

In [111]:
data.insert(loc=6, column='day', value=(data.mess_datum.dt.date))

In [112]:
del data['day1']

In [113]:
data.tail()

                mess_datum  station_id   r1  longitude  latitude         day
244838 2017-08-16 20:00:00       15000  0.0     6.0244   50.7983  2017-08-16
244839 2017-08-16 21:00:00       15000  0.0     6.0244   50.7983  2017-08-16
244840 2017-08-16 22:00:00       15000  0.0     6.0244   50.7983  2017-08-16
244841 2017-08-16 23:00:00       15000  0.0     6.0244   50.7983  2017-08-16
244842 2017-08-17 00:00:00       15000  0.0     6.0244   50.7983  2017-08-17

In [114]:
data = data.groupby(['day','station_id'])['r1'].sum().to_frame(name = 'daily_prep').reset_index()

In [115]:
data.head()

          day  station_id  daily_prep
0  2017-04-16         216         4.3
1  2017-04-16         389         5.0
2  2017-04-16         390         2.2
3  2017-04-16         554         1.7
4  2017-04-16         603         3.6

In [116]:
data['station_id'] = data['station_id'].astype(int)
type(data['station_id'])

pandas.core.series.Series

In [117]:
Olpe = data[data['station_id'].isin([216,2947,5468])]#216, 2947,5468

In [118]:
Olpe.head()

            day  station_id  daily_prep
0    2017-04-16         216         4.3
33   2017-04-16        2947         4.7
83   2017-04-17         216        14.6
116  2017-04-17        2947        12.0
166  2017-04-18         216         2.6

In [119]:
Olpe = Olpe.groupby(['day'])['daily_prep'].mean().to_frame(name = 'avg_daily_prep').reset_index()

In [120]:
Olpe

            day  avg_daily_prep
0    2017-04-16            4.50
1    2017-04-17           13.30
2    2017-04-18            3.35
3    2017-04-19            0.00
4    2017-04-20            0.00
..          ...             ...
119  2017-08-13            4.05
120  2017-08-14            0.00
121  2017-08-15            0.85
122  2017-08-16            9.40
123  2017-08-17            0.00

[124 rows x 2 columns]

In [121]:
Olpe.set_index("day", inplace = True)

In [122]:
type(Olpe.index[0])

datetime.date

In [123]:
from datetime import datetime
startdate1 = pd.to_datetime("2017-04-17").date()
enddate1= pd.to_datetime("2017-05-16").date()
Olpe_May = Olpe.loc[startdate1:enddate1]

In [124]:
startdate2 = pd.to_datetime("2017-05-17").date()
enddate2 = pd.to_datetime("2017-06-16").date()
Olpe_June = Olpe.loc[startdate2:enddate2]

In [125]:
startdate3 = pd.to_datetime("2017-06-17").date()
enddate3 = pd.to_datetime("2017-07-16").date()
Olpe_July = Olpe.loc[startdate3:enddate3]

In [126]:
startdate4 = pd.to_datetime("2017-07-17").date()
enddate4 = pd.to_datetime("2017-08-16").date()
Olpe_August = Olpe.loc[startdate4:enddate4]

In [127]:
Olpe_May.tail()

            avg_daily_prep
day
2017-05-12            3.05
2017-05-13            0.30
2017-05-14            0.05
2017-05-15            0.05
2017-05-16            0.00

In [128]:
Olpe_May.insert(loc=1, column='cumulative_prec', value=(np.cumsum(Olpe_May['avg_daily_prep'])))
Olpe_June.insert(loc=1, column='cumulative_prec', value=(np.cumsum(Olpe_June['avg_daily_prep'])))
Olpe_July.insert(loc=1, column='cumulative_prec', value=(np.cumsum(Olpe_July['avg_daily_prep'])))
Olpe_August.insert(loc=1, column='cumulative_prec', value=(np.cumsum(Olpe_August['avg_daily_prep'])))

In [143]:
#Olpe_May.tail()
#Olpe_June.tail()
#Olpe_July.tail()
Olpe_August.tail()

            avg_daily_prep    Olpe
day
2017-08-12            6.30  152.15
2017-08-13            4.05  156.20
2017-08-14            0.00  156.20
2017-08-15            0.85  157.05
2017-08-16            9.40  166.45